/* Navbar */
header {
  display: flex;
  justify-content: center;
  background-color: #131921;
  border-top: 2px solid #fafafa;
  box-shadow: 0 2px 3px #333;
}
.logo {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar,
.navbars {
  width: 80%;
  margin: auto;
}
.navbar .navbar-nav,
.navbars .navbar-navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 60px;
}
.navbar .navbar-nav .nav-link,
.navbars .navbar-navs .nav-links {
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
  color: #fafafa;
}
.navbar .navbar-nav .nav-item:hover .nav-link,
.navbars .navbar-navs .nav-items:hover .nav-links {
  color: #febd69;
}
.navbar .navbar-nav .nav-item,
.navbars .navbar-navs .nav-items {
  position: relative;
}
.navbar .dropdown,
.navbars .dropdown {
  position: absolute;
  top: 190%;
  background-color: #131921ed;
  display: none;
  z-index: 10;
}
.navbar .dropdown-content,
.navbars .dropdown-content {
  display: flex;
  justify-content: space-between;
}
.navbar .dropdown ul,
.navbars .dropdown ul {
  list-style-type: none;
  padding: 10px;
}
.dropdown ul li a {
  display: block;
  width: 239px;
  padding-block: 20px;
  color: #fafafa;
}
.dropdown ul li a:hover {
  color: #febd69;
}

.navbar .navbar-nav .nav-item:hover .dropdown,
.navbars .navbar-navs .nav-items:hover .dropdown {
  display: block;
}

.active {
  color: #febd69 !important;
}
.dropdown ul li a:hover {
  text-decoration: none;
}
.logo {
  background-color: #131921;
  color: #005e7a;
  padding-block: 30px;
}
